.sign-in{
    display: flex;
    flex-direction: column;
    width:300px;
    margin-top: 0px;
    .title{
       margin:10px 0px;
    }
    .buttons{
        // width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
// .sign-in{
//    
// }