.directory-menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin: 50px 50px 50px 20px;
    background-position: center;
    background-size: cover;
    
}