
.outer-container {
    display: flex;
    height:70px;
    width:100%;
    justify-content: space-between;
    margin-bottom: 25PX;
    .logo{
        height: 100%;
        width: 10%; 
        justify-content: flex-start;
    }
    .options-container{
        width:70%;
        height:100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .option{
        padding: 10px 15px;
        cursor: pointer;
    }
}